<html ng-app>
	<head>
		<!-- Add fancyBox -->
		<link rel="stylesheet" href="lib/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
		<!-- Optionally add helpers - button, thumbnail and/or media -->
		<link rel="stylesheet" href="lib/fancybox/source/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/demo.css" type="text/css" media="screen" />
	</head>
	<body>
		<div ng-controller="pagePhotoController">
			<table class="photoTable">
				<tbody>
					<tr ng-repeat="photoRow in photos">
						<td ng-repeat="photo in photoRow">
							<a  class="fancybox-thumb" rel="fancybox-thumb" href="{{photo.src}}" title="{{photo.title}}">
								<img ng-src="{{photo.src}}" alt="" />
							</a>
							<span>
								<h3>{{photo.title}}</h3>
								{{photo.desc}}
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
	<!-- Add jQuery library -->
	<script type="text/javascript" src="lib/fancybox/lib/jquery-1.9.0.min.js"></script>

	<!-- Add mousewheel plugin (this is optional) -->
	<script type="text/javascript" src="lib/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
	<script type="text/javascript" src="lib/fancybox/source/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" src="lib/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>
	<script type="text/javascript" src="js/demo.js"></script>
	<script type="text/javascript" src="lib/angular.min.js"></script>

</html>