body {
  padding-top: 50px;
}
.bitsBoard{
  border:1px solid black;
  table-layout:fixed;
  width: 100%;
}
.sign{
  background:#ececb7;
  border:1px solid black;
  font-weight:bold;
}
.exponent{
  background:#c0ecc0;
  border:1px solid black;
  font-weight:bold;
}
.fraction{
  background:#a9a9f3;
  border:1px solid black;
  font-weight:bold;
}
.panel-body{
  overflow-x:auto;
}
.resultPad{
  overflow-x:auto;
}