.hideImageBody img,.hideImageBody video,.hideImageBody .hiddenImg, .hideImageBody.hiddenIframe{
    filter:blur(1rem);
}
.hideImageBody img:hover,.hideImageBody video:hover,.hideImageBody .hiddenImg:hover,.hideImageBody .hiddenIframe:hover{
    filter:blur(0);
}
.noAfter::after{
    display: none;
}